@media (max-width:480px) {
    *{

        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        /* border: 1px solid rgb(255, 0, 0); */
    }

    .container{
        width: 100%;
        height: auto;
        padding: 5px;
    }

    .btn-heading{
        width: 100%;
        height: auto;
        padding-top: 60px;
    }

 

    .btn-heading h1{
        width: auto;
        height: auto;
        font-size: 35px;
        font-weight: 600;
        padding-block: 10px;
    }

    .btn-heading p{
        width: 100%;
        height: auto;
        font-size: 13px;
        font-weight: 300;
     }

     .card-con{
        width: 100%;
        height: auto;
        padding: 22px;
     }

     .card1{
        width: 390px;
        height: auto;
     }

     .card2{
        width: 390px;
        height: auto;
     }

     .card3{
        width: 390px;
        height: auto;
     }

     .btn001{
        width: 100%;
        height: auto;
     }

    
}

